<form [formGroup]="form" (submit)="onSubmit($event)">

  <div class="form-group row">
    <label for="name" class="col-form-label col-12 col-md-3">
      Name
    </label>
    <div class="col-12 col-md-9">
      <input formControlName="name" type="text" class="form-control" id="name" placeholder="Search for a name"
        [class.is-invalid]="submitClicked && form.get('name').errors" style="max-width: 20rem" [attr.disabled]="formDisabled">
    </div>
  </div>

  <div class="form-group row">
    <label for="fromAge" class="col-form-label col-12 col-md-3">
      Age
    </label>
    <div class="col-12 col-md-9" formGroupName="age">
      <div class="d-flex align-items-center">
        <input formControlName="from" type="number" class="form-control" id="fromAge" placeholder="Minimum"
          [class.is-invalid]="submitClicked && ageError || fromAgeError" style="max-width: 7rem" [attr.disabled]="formDisabled">
        <span class="mx-2">
          -
        </span>
        <input formControlName="to" type="number" class="form-control" id="toAge" placeholder="Maximum"
          [class.is-invalid]="submitClicked && ageError || toAgeError" style="max-width: 7rem" [attr.disabled]="formDisabled">
      </div>
      <div class="invalid-feedback d-block" *ngIf="submitClicked && fromAgeError || toAgeError" @height>
        Please enter positive numbers.
      </div>
      <div class="invalid-feedback d-block" *ngIf="submitClicked && ageError" @height>
        The minimum age must be smaller than the maximum age.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="country" class="col-form-label col-12 col-md-3">
      Country
    </label>
    <div class="col-12 col-md-9">
      <input formControlName="country" type="text" class="form-control" id="country" placeholder="Start typing a country name"
        [class.is-invalid]="submitClicked && form.get('country').errors" style="max-width: 20rem" [attr.disabled]="formDisabled"
        [typeahead]="countries" typeaheadOptionField="name">
      <div class="invalid-feedback" *ngIf="submitClicked && form.get('country').errors" @height>
        Please select a country from the list.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="languageName" class="col-form-label col-12 col-md-3">
      Languages
    </label>

    <div class="col-12 col-md-9">
      <mgg-language-selector [form]="form.get('language')" [languages]="languages" [search]="true" [formDisabled]="formDisabled"></mgg-language-selector>
    </div>
  </div>

  <div class="submit-container">
    <button type="submit" class="btn btn-primary" [disabled]="formDisabled">
      <fa-icon *ngIf="loading" icon="circle-notch" [fixedWidth]="true" [spin]="true"></fa-icon>
      Search
    </button>
  </div>
</form>

<div class="alert alert-danger mt-3 mb-0" *ngIf="error" [ngSwitch]="error" @height>
  <ng-container *ngSwitchCase="400">
    <h5 class="alert-heading">Invalid data</h5>
    Please check the input fields again. If this error persists please contact us.
  </ng-container>
  <ng-container *ngSwitchCase="401">
    <h5 class="alert-heading">Unauthorized</h5>
    You are unauthorized.
  </ng-container>
  <ng-container *ngSwitchCase="500">
    <h5 class="alert-heading">Server error</h5>
    Please try again later. If this error persists please contact us.
  </ng-container>
  <ng-container *ngSwitchDefault>
    <h5 class="alert-heading">Unknown error</h5>
    Please try again later. If this error persists please contact us.
  </ng-container>
</div>
