$blue: #007bff;
$indigo: #6610f2;
$purple: #7c4dff;
$pink: #e83e8c;
$red: #d5573b;
$orange: #fc814a;
$yellow: #ffc145;
$green: #4aa575;
$teal: #20c997;
$cyan: #17a2b8;

$primary: $purple;
$secondary: #564256;
$success: $green;
$info: #777da7;
$warning: $yellow;
$danger: $red;
$light: #f3f3f5;
$dark: #616161;

// Typography

$font-family: Roboto, sans-serif;
$font-weight-bold: 500;

// Body

$body-bg: $light;

// Border

$border-radius-sm: 0.1rem;
$border-radius: 0.15rem;
$border-radius-lg: 0.2rem;

// Alert

$alert-border-width: 4px;

$alert-bg-level: -11;
$alert-border-level: 0;
$alert-color-level: 6;

// Transitions

$standard-easing: cubic-bezier(0.4, 0, 0.2, 1);
$decelerate-easing: cubic-bezier(0, 0, 0.2, 1);
$accelerate-easing: cubic-bezier(0.4, 0, 1, 1);
