@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import '~styles/declarations';
@import '~styles/bootstrap';

html,
body {
  height: 100%;
}

.alert {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
