<ul class="nav">
  <li>
    <a routerLink="/home" routerLinkActive="active">
      <fa-icon icon="home" [fixedWidth]="true"></fa-icon>
      <span class="d-none d-md-inline">
        Home
      </span>
    </a>
  </li>
  <li>
    <a routerLink="/users" routerLinkActive="active">
      <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
      <span class="d-none d-md-inline">
        Users
      </span>
    </a>
  </li>
  <li>
    <a routerLink="/chat" routerLinkActive="active">
      <fa-icon icon="comments" [fixedWidth]="true"></fa-icon>
      <span class="d-none d-md-inline">
        Chat
      </span>
    </a>
  </li>
  <li>
    <a routerLink="/settings" routerLinkActive="active">
      <fa-icon icon="cog" [fixedWidth]="true"></fa-icon>
      <span class="d-none d-md-inline">
        Settings
      </span>
    </a>
  </li>
</ul>
