@import '~styles/declarations';

:host {
  border-top: 1px solid map-get($grays, '400');
  font-size: $font-size-lg;

  @include media-breakpoint-up(md) {
    border-bottom: 1px solid map-get($grays, '400');
    border-top: none;
  }

  li {
    a {
      &::after {
        top: 0;

        @include media-breakpoint-up(md) {
          bottom: 0;
          top: initial;
        }
      }
    }
  }
}
