<form [formGroup]="profileForm" (submit)="onSubmit($event)">

  <div class="form-group">
    <label for="name">
      Display name
    </label>
    <input formControlName="name" type="text" class="form-control" id="name" placeholder="Your display name"
      [class.is-invalid]="submitClicked && profileForm.get('name').errors" [attr.disabled]="formDisabled">
    <div class="invalid-feedback" *ngIf="submitClicked && profileForm.get('name').errors" @height>
      Please enter a name.
    </div>
  </div>

  <div class="form-group">
    <label for="age">
      Age
      <span class="text-muted">(optional)</span>
    </label>
    <input formControlName="age" type="number" class="form-control" id="age" placeholder="Your age" [class.is-invalid]="submitClicked && profileForm.get('age').errors"
      style="max-width: 7rem" [attr.disabled]="formDisabled">
    <div class="invalid-feedback" *ngIf="submitClicked && profileForm.get('age').errors" @height>
      Please enter your age as a positive number.
    </div>
  </div>

  <div class="form-group">
    <label for="country">
      Country
      <span class="text-muted">(optional)</span>
    </label>
    <input formControlName="country" type="text" class="form-control" id="country" placeholder="Start typing a country name"
      [class.is-invalid]="submitClicked && profileForm.get('country').errors" [attr.disabled]="formDisabled"
      [typeahead]="countries" typeaheadOptionField="name">
    <div class="invalid-feedback" *ngIf="submitClicked && profileForm.get('country').errors" @height>
      Please select a country from the list.
    </div>
  </div>

  <div class="form-group">
    <label>
      Languages
      <span class="text-muted">(optional)</span>
    </label>

    <fieldset formArrayName="languages">

      <fieldset class="form-group language-form" *ngFor="let language of languagesForm.controls; let i = index"
        [formGroupName]="i" @height>
        <div class="d-flex align-items-center justify-content-between">
          <mgg-language-icons [languages]="[languagesForm.at(i).value]"></mgg-language-icons>
          <button class="btn btn-outline-danger btn-sm" type="button" (click)="removeLanguage(i)">
            <fa-icon icon="minus" [fixedWidth]="true"></fa-icon>
            Remove
          </button>
        </div>
        <input type="hidden" formControlName="code">

        <div class="custom-control custom-radio">
          <input type="radio" [id]="'languages-' + i + '-1'" formControlName="level" class="custom-control-input"
            [value]="1">
          <label class="custom-control-label" [for]="'languages-' + i + '-1'">Beginner</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" [id]="'languages-' + i + '-2'" formControlName="level" class="custom-control-input"
            [value]="2">
          <label class="custom-control-label" [for]="'languages-' + i + '-2'">Intermediate</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" [id]="'languages-' + i + '-3'" formControlName="level" class="custom-control-input"
            [value]="3">
          <label class="custom-control-label" [for]="'languages-' + i + '-3'">Advanced</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" [id]="'languages-' + i + '-4'" formControlName="level" class="custom-control-input"
            [value]="4">
          <label class="custom-control-label" [for]="'languages-' + i + '-4'">Fluent</label>
        </div>
      </fieldset>

    </fieldset>
    <div class="d-flex align-items-start">
      <div class="mr-2 flex-grow-1">
        <input formControlName="language" type="text" class="form-control" id="language" placeholder="Start typing a language"
          [class.is-invalid]="languageError" [attr.disabled]="formDisabled" [typeahead]="languages"
          typeaheadOptionField="name" #languageSelect>
        <div class="invalid-feedback" *ngIf="languageError" [ngSwitch]="languageError" @height>
          <ng-container *ngSwitchCase="'notFound'">
            Please select a language from the list.
          </ng-container>
          <ng-container *ngSwitchCase="'exists'">
            This language is already in your list.
          </ng-container>
          <ng-container *ngSwitchDefault>
            Error adding language.
          </ng-container>
        </div>
      </div>

      <button class="btn btn-outline-secondary" type="button" id="addLanguage" (click)="addLanguage(languageSelect.value)"
        [disabled]="formDisabled">
        <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
        Add
      </button>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="formDisabled">
    <fa-icon *ngIf="loading" icon="circle-notch" [fixedWidth]="true" [spin]="true"></fa-icon>
    Save profile
  </button>
</form>

<div class="alert alert-success mt-3 mb-0" *ngIf="success" @height>
  <h5 class="alert-heading">Success</h5>
  Profile saved.
</div>

<div class="alert alert-danger mt-3 mb-0" *ngIf="error" [ngSwitch]="error" @height>
  <ng-container *ngSwitchCase="400">
    <h5 class="alert-heading">Invalid data</h5>
    Please check the input fields again. If this error persists please contact us.
  </ng-container>
  <ng-container *ngSwitchCase="401">
    <h5 class="alert-heading">Unauthorized</h5>
    You are unauthorized.
  </ng-container>
  <ng-container *ngSwitchCase="500">
    <h5 class="alert-heading">Server error</h5>
    Please try again later. If this error persists please contact us.
  </ng-container>
  <ng-container *ngSwitchDefault>
    <h5 class="alert-heading">Unknown error</h5>
    Please try again later. If this error persists please contact us.
  </ng-container>
</div>
